<!-- hibernate.cfg.xml -->
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://10.5.0.5:3306/main</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.autocommit">false</property>
        <mapping class="model.User" />
        <mapping class="model.MediaMetadata" />
        <mapping class="model.ChunkHash" />
        <mapping class="model.MeshStreamAvailability" />
    </session-factory>
</hibernate-configuration>


